<% layout('layouts/boilerplate') %>
<h1>Register</h1>
<form class="validation" novalidate action="/register" method="POST">
  <div class="mb-3">
    <label class="form-label" for="username">Username:</label>
    <input
      class="form-control"
      id="username"
      type="text"
      name="username"
      placeholder="skyescrawford"
      required
    />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="email">Email:</label>
    <input
      class="form-control"
      id="email"
      type="email"
      name="email"
      placeholder="skyescrawford@email.com"
      required
    />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="password">Password:</label>
    <input
      class="form-control"
      id="password"
      type="password"
      name="password"
      placeholder="••••••••"
      required
    />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <div class="mb-3">
    <button class="btn btn-primary">Submit</button>
  </div>
</form>
