<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <title>LANDING PAGE</title>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="container">
      <h1>WELCOME TO THE LANDING PAGE</h1>
    </div>
  </body>
</html>
