<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <p><%= success %></p>
    <% if(online) { %>
    <small>online</small>
    <% } %>
    <h1>Welcome to Homepage</h1>
    <a href="/secret">Top Secret</a>
    <a href="/login">Login</a>
    <form action="/logout" method="POST">
      <button>Logout</button>
    </form>
  </body>
</html>
