<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Product</title>
  </head>
  <body>
    <h1>Add New Product</h1>
    <form action="/products" method="POST" autocomplete="off">
      <div>
        <input
          type="text"
          name="name"
          placeholder="Product Name"
          value="<%= product.name %>"
        />
      </div>
      <div>
        <input
          type="number"
          name="price"
          placeholder="Price"
          value="<%= product.price %>"
        />
      </div>
      <div>
        <section>
          <input type="radio" name="category" id="fruit" value="fruit" />
          <label for="fruit">fruit</label>
        </section>
        <section>
          <input
            type="radio"
            name="category"
            id="vegetable"
            value="vegetable"
          />
          <label for="vegetable">vegetable</label>
        </section>
        <section>
          <input type="radio" name="category" id="dairy" value="dairy" />
          <label for="dairy">dairy</label>
        </section>
      </div>
      <button>Submit</button>
    </form>
    <a href="/products">BACK</a>
  </body>
</html>
