<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <h1><%= category %> Products</h1>
    <span><a href="/products/new">new</a></span>
    <% if(category !== 'All') { %>
    <span><a href="/products">all products</a></span>
    <% } %>
    <ul>
      <% for(let doc of foundProducts) { %>
      <li>
        <a href="/products/<%= doc._id %>"><%= doc.name %></a>
      </li>
      <% } %>
    </ul>
  </body>
</html>
