<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Comment</title>
  </head>
  <body>
    <h1>Create New Comments</h1>
    <a href="/comments">back</a>
    <form action="/comments" method="POST" autocomplete="off">
      <section>
        <input type="text" name="name" placeholder="Name" />
      </section>
      <section>
        <textarea name="comment" cols="30" rows="5"></textarea>
      </section>
      <button>Submit</button>
    </form>
  </body>
</html>
